*{
	padding:0px;
	margin:0px;
}

#wrapper{
	width:100%;
	margin:0px;
}

/*body{
	background:url(d.jpg);
}*/

#header{
	height:10%;
	width:100%;
	background:rgba(33, 180, 92, 0.5);
	border-radius:;
	margin-top:10px;
	border:;
	text-align:;
	overflow:;
	position:absolute;
	margin-left:;
}

#content{
	height:80%;
	width:100%;
	background:;
	border-radius:;
	margin-top:7%;
	border:;
	text-align:;
	overflow:;
	position:absolute;
	margin-left:;
}
#animate{
	height:60%;
	width:50%;
	background:black;
	border-radius:;
	margin-top:5%;
	border:;
	text-align:;
	overflow:;
	position:absolute;
	margin-left:25%;
}

#heslo{
	margin-left:1%;
	margin-top:3%;
	height:10%;
	width:10%;
	font-size: 150%;
}

#submitForm{
	margin-left:1%;
	margin-top:2%;
	height:10%;
	width:10%;
	font-size: 150%;
}
#tabulka{
	height:70%;
	width:20%;
	background:rgba(33, 180, 92, 0.5);
	border-radius:;
	margin-top:-25%;
	border:;
	text-align:;
	overflow:;
	position:absolute;
	margin-left:77%;
	display:none;
}

#formular{
	height:70%;
	width:20%;
	background:rgba(33, 180, 92, 0.5);
	border-radius:;
	margin-top:0%;
	border:;
	text-align:;
	overflow:;
	position:;
	margin-left:2%;
	display:;
}

#o{
	margin-left:77%;
	margin-top:5%;
	cursor:pointer;
	color:white;
}

#konf{
	margin-left:45%;
	margin-top:2%;
	height:10%;
	width:10%;
	font-size: 150%;
	position:absolute;
}
