/* font faces */
@font-face {
	font-family: "Linux Libertine G";
	src: url("../fonty/linlibg_r.woff") format('woff');
}

@font-face {
	font-family: "Linux Libertine G";
	src: url("../fonty/linlibg_b.woff") format('woff');
	font-weight: bold;
}

/* main elements */
html, body{
        margin: 0;
}

body{
	background-color:#eeeeee;
	font-family: "Linux Libertine G";
	width: 960px;
	margin: 0 auto;
}

#head{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
        background-color: #eeeeee;
	height: 11%;
}

h1{
	color: #000000;
	font-size: 28pt;
	font-variant: small-caps;
}

h1, h2{
	text-align: center;
}

section{
	float: left;
	width: 700px;
	margin-left: -10;
}

#table {
	padding-top: 92px;
}

aside{
	float: right;
	width: 234px;
	margin-top: 80px;
	padding-bootom: 10px;
/*	padding-right: -px;*/
	background-color: #b3ccff;
	border-radius: 30px;
	border: 3px solid #c2d6d6;
}

#form {
	margin-top: 10px;
}

footer{
	text-align: center;
	font-size: 10pt;
/*	border-top: 1px solid #000;*/
	margin-top: 2px;
	padding-top: 2px;
	clear: both;  /* there's some error in .group – this line is just a workaround */
}

/* link elements */
a:link{
	text-decoration: none;
	color:black;
}

a:visited{
	text-decoration: none;
	color: black;
}

a:html, 
body {
        margin: 0;
}hover{
	text-decoration: underline;
}

a:active{
	text-decoration: none;
}

/* forms */
.forms{
	margin-left: 33px;
}
input{
	height: 30px;
	border: 1px solid #222222;
	border-radius: 20px;
	background-color: #eee;
	color: black;
	text-align: center;
	font-family: "Ubuntu";
	width: 85%;
	margin: 2px;
}

input:hover{
	height: 30px;
	border: 1px solid #222222;
	border-radius: 20px;
	background-color: #b3d1ff;
	color: #000000;
	text-align: center;
	font-family: "Ubuntu";
	width: 85%;
	font-weight: bold;
}

/*
input[type=submit]{
	width: 85%;
	radius: 30px;
}*/
input[type=submit]{
	background-color: black;
	color: #ffffff;
	font-weight: bold;
	margin-top: 20px;
}

input[type=submit]:hover{
	background-color: #222222;
	color: #ffffff;
}	

/* table elements */
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
/*	border-bottom-left-radius: 20px;*/
}

table, th, td, tr{
	border: 1px solid black;
	vertical-align: middle;
	border-spacing: 0;
}

td{
	padding: 10px;
	text-align: justify;
}

tr:nth-child(even) {
	background: #e5e5ff;
}

tr:nth-child(odd) {
	background: #ffffff;
}

th{
	font-weight: bold;
	text-align: center;
	font-size: 14pt;
	background-color: #bb3ccff;
}

note{
	text-align: center;
}

/* copyleft creation */
.copyleft{
	display: inline-block;
	text-align: right;
	margin: 0px;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.group:before,
.group:after{
	content: " ";
	display: table;
}

.group{
	clear: both;
}

.group{
	*zoom: 1;
}
