
.container{
    margin-right: 10%;
    margin-left: 10%;
    width: 1050px;
}
.header{
    text-align: center;
    font-style: italic;
    margin: 10px;

}
.clear {
    clear:both;
}
.footer{
    text-align: center;}
.container, 
#content{
    float: left;
    margin-right: 25px;
    }
#form{
    float: right;
    background-color: #B0C4DE;
    padding: 10px;
    border-radius: 25px;
    }
#form, li{
    color: DimGrey;
    font-family: Ubuntu;
    text-align: left;
    list-style-type: none;
}
#form, ul{
   margin-left: 0px;
}
h1{
    font-family: Ubuntu;
    color: LightSlateGray;
    }
h2{
    font-family: Ubuntu;
    color: LightSlateGray;
    text-align: left;
    }
h3{
    font-family: Ubuntu;
    font-style: italic;
    color: White;
    }
p{
    font-family: Ubuntu;
    color: DimGrey;
    }
